/*### BEGIN LICENSE
# Copyright (C) 2011 Stephan Tetzel <info@zefanjas.de>
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License version 3, as published
# by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranties of
# MERCHANTABILITY, SATISFACTORY QUALITY, or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program.  If not, see <http://www.gnu.org/licenses/>.
### END LICENSE*/

/* Biblez CSS */

/* WORKAROUNDS */
.enyo-modaldialog > * { height:100%; }

.example-submenu .enyo-menuitem-icon {
	padding: 0 5px 0 0;
	margin: -4px;
}

/*STUFF */
.biblez-stuff {
    color: #333;
}

/* START */

.start-label {
    font-weight: bold;
    font-size: 26px;
    padding: 20px;
    text-align: center;
}

/* MAIN VIEW */

a {
    text-decoration: none;
    color: #141414;
}

.mainview-container {
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.view-verses {
    padding: 20px;
	-webkit-column-width: 320px;
	-webkit-column-gap: 40px;
    overflow: visible;
    width: auto;
    /*background-color: rgba(255,0,0,0.5); */
    line-height: 1.3em;
    /* font-family:georgia,garamond,serif;
    font-size: 22px; */
}

.view-plain {
    padding: 20px;
}

.view-header {
    padding: 0px;
    max-height: 52px;
    background-color: rgba(0,0,0,0.9);
    -webkit-border-image: url(../images/toolbar.png) 2 4 repeat stretch;
    /* -webkit-border-image: none; */
}

.passage-label {
    color: #F2F2F2;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}

.header-button {
    margin: -10px 3px;
    background-color: transparent;
    color: #F5F5F5;
    /*-webkit-border-image: none;
    border: 2px solid #D8D8D8; */
}

.view-verses-single {
    padding: 20px;
    width: auto;
}

.verses-ltr {
    direction: ltr;
}

.verses-rtl {
    direction: rtl;
}

.split-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    -webkit-border-radius: 40px 0 0 0;
    background: rgba(255,255,255,0.5);
    border: 1px solid #333;
    /*-webkit-transition-property: all;
    -webkit-transition-duration: .25s; */
}

.split-button-middle {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 30px;
    line-height: 40px;
    text-align: right;
    -webkit-border-radius: 30px 30px 0 0;
    background: rgba(255,255,255,0.5);
    border: 1px solid #333;
    /*-webkit-transition-property: all;
    -webkit-transition-duration: .25s; */
}

.splitview-verse {
    padding: 20px;
}

.split-view {
    border-left: 4px solid #333;
}

.splitview-right {
    /* border-right: 1px solid; */
    /*border-width: 0px 0px 0px 20px;
    -webkit-border-image: url(../images/toaster-shadow.png) 0 0 0 20 repeat repeat; */
}


.scroller-background {
    background: url("../images/background.png");
}

.scroller-grayscale {
    background: url("../images/background-light.png");
}

.scroller-night {
    background-color: #222222;
    color: #F5F5F5;
}

.scroller-night a {
    color: #F5F5F5;
}

.biblez-hint {
    text-align: center;
    font-weight: bold;
    padding-top: 20%;
}

.first-start {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
}

.first-start-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.verse-number {
    font-weight: bold;
    /* font-size: 1.1em; */
}

.verse-highlighted {
    background-color: rgba(218,165,32,0.5);
}

.verse-footnote {
    font-size: 0.8em;
    font-style: italic;
    line-height: 10px;
}

.verse-strong {
    font-size: 0.8em;
    vertical-align: super;
}

.verse-heading {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 0em;
}

.verse-intro {
    padding: 0.5em 0em 0.5em 0em;
    font-style: italic;
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
}

.chapter-table {
    display: table;
    width: 100%;
}

.chapter-nav {
    -webkit-border-radius: 10px;
    background-color: rgba(205,133,63,0.5);
    font-weight: bold;
}

.chapter-nav-left {
    padding: 10px;
    margin-right: 10px;
}

.chapter-nav-right {
    padding: 10px;
    margin-left: 10px;
}

/*SIDEBAR */
.main-sidebar {
    width: 320px;
    height: 100%;
}

.sidebar-inner {
    position: relative;
    /*z-index: 120; */
    background-color: #D8D8D8;
    width: 320px;
}

.sidebar-shadow {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 20px;
	right: 320px;
	background: url(../images/sidebar-shadow.png) repeat-y;
	pointer-events: none;
}

.note-passage {
    font-size: 0.9em;
}

.search-container {
	padding: 10px 0px;
}

.sidebar-folder {
    font-size: 13px;
    color: gray;
    font-style: italic;
}

.sidebar-tags {
    font-size: 13px;
    color: gray;
    font-style: italic;
}

.sidebar-icon {
    height: 11px;
}

.hl-color {
    -webkit-border-radius: 5px;
    width: 25px;
    height: 25px;
}

/*POPUP LISTS */
.biblez-popup {
    min-height: 300px;
}

.popup-scroller {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.popup-scroller-container {
    /* background-color: white; */
    /* -webkit-border-radius: 5px;
    border: 1px solid; */

    -webkit-box-sizing: border-box;
    border-width: 14px;
    -webkit-border-image: url(../images/border.png) 14 14 14 14 stretch stretch;
    box-sizing: border-box;
}

.list-title {
    padding: 0px 10px;
}

.list-subtitle {
    font-size: 0.8em;
    font-style: italic;
    padding: 0px 10px;
}

.list-icon {
    height: 22px;
}

/*SELECTOR */

.selector-scroller {
    width: 100%;
}

.selector-button {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    width: 25px;
    float: left;
}

.book-selector {
    float: left;
    /* border: 5px solid;
    -webkit-border-radius: 5px; */
    padding: .3em;
    line-height: 35px;
    margin: 3px;
    width: 45px;
    height: 35px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
}

.books-tora {
    background-color: #AE841A;
}

.books-historical {
    background-color: #DAA520;
}

.books-wisdom {
    background-color: #E7C571;
}

.books-prophet {
    background-color: #F0E68C;
}

.books-gospel {
    background-color: #AE841A;
}

.books-act {
    background-color: #DAA520;
}

.books-paul {
    background-color: #E1B74D;
}

.books-other {
    background-color: #EDD28E;
}

.books-rev {
    background-color: #F0E68C;
}

.toaster-shadow {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 20px;
	left: 320px;
	background: url(../images/toaster-shadow.png) repeat-y;
	pointer-events: none;
}

/*MODULE MANAGER */

.details-name {
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
}

.details-descr {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.5em;
}

.details-info {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;

}

.modules-button-install {
    margin-top: 10px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #2AA100;
}

.modules-button-remove {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    margin-left: 20px;
}

.hint {
    text-align: center;
    margin-top: 10px;
}

.hint-small {
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

/* POPUP */
.popup-title {
    font-size: 1.2em;
    text-align: center;
}

.popup-edit-title {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 5px;
}

.edit-popup {
    max-width: 400px;
}

.popup-info {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    text-align: center;
}

.popup-version {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 0.7em;
    text-align: center;

}

.verse-popup {
    -webkit-border-image: url(../images/popup.png) 24 24 24 24 stretch stretch;
    -webkit-box-sizing: border-box;
    border-width: 24px;
    box-sizing: border-box;
    position: absolute;
    min-width: 348px;
    -webkit-border-radius: 10px;
    /* -webkit-transition: opacity 0.2s ease-in-out; */
}

.fadedOut {
    opacity: 0;
    /*-webkit-transition-property: opacity;
    -webkit-transition-duration: .3s; */
}

.fadeIn {
    opacity: 1;
}

.verse-popup-top-left {
    text-align: center;
    padding: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.verse-popup-top-right {
    text-align: center;
    padding: 10px;
    -webkit-border-top-right-radius: 10px;
    border-bottom: 1px solid;
}

.verse-popup-bottom-left {
    text-align: center;
    padding: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-right: 1px solid;
}

.verse-popup-bottom-right {
    text-align: center;
    padding: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.color-selector {
    border-top: 1px solid;
    padding-top: 5px;
}


.popup-note {
    font-size: 0.8em;
}

.popup-caption {
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}

.font-menu {
    font-size: 0.8em;
    padding-top: 14px;
}

.font-slider {
    padding-left: 8px;
    padding-right: 8px;
}

.font-prefs {
    padding-left: 8px;
}

.font-divider {
    padding-right: 8px;
    margin-left: -15px;
}


.color-button {
    height: 20px;
}

.popup-label {
    font-size: 0.8em;
    color: rgb(31, 117,191);
    text-transform: uppercase;
}

.popup-input {
    color: rgb(31, 117,191);
}

.fadedOut {
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
}

.fadeIn {
    opacity: 1;
}

/*PREFERENCES */
.prefs-container {
    max-width: 500px;
}

/*NOTE VIEW */
.nv-title {
    padding-top: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nv-passage {
    font-size: 0.9em;
}

.nv-note {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: rgba(255,255,255,0.5);
    -webkit-border-radius: 10px; */
    padding: 10px 0px;
    border-top: 1px solid #333;
}